.card-deck-grid {
  --translate: 0px;
  --relation: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #191919;
  overflow-x: auto;
  padding: 40px 0 40px 40px;
  scrollbar-color: #434343 #191919;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  justify-content: center;
}

.card-deck-grid::-webkit-scrollbar {
  width: 7px;
  height:20px;
}

.card-deck-grid::-webkit-scrollbar-thumb {
  background-color: #434343;
  border-radius: 50px;
}

.card-deck-grid>.card {
  position: relative;
  width: calc(350px * var(--relation));
  max-width: calc(350px * var(--relation));
  min-width: calc(350px * var(--relation));
  height: calc(500px * var(--relation));
  margin-right: calc(20px * var(--relation));
  background-color: transparent;
  
  /* -webkit-transform: translateX(var(--translate));
          transform: translateX(var(--translate));
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; */
  /* transition: transform ease 1s; */
}

.flip-box {
  background-color: transparent;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  border-radius: 10px;
  background-color: #000;
  -webkit-box-shadow: calc(-48px * var(--relation)) 0 calc(60px * var(--relation)) calc(-22px * var(--relation)) #000;
          box-shadow: calc(-48px * var(--relation)) 0 calc(60px * var(--relation)) calc(-22px * var(--relation)) #000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;


  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/* Style the back side */
.flip-box-back {

  transform: rotateY(180deg);
}

.card-deck-grid>.card:first-child .flip-box-inner{
  transition-delay: 0.5s;
}
.card-deck-grid>.card:nth-child(2) .flip-box-inner{
  transition-delay: 0.7s;
}
.card-deck-grid>.card:nth-child(3) .flip-box-inner{
  transition-delay: 0.9s;
}
.card-deck-grid>.card:nth-child(4) .flip-box-inner{
  transition-delay: 1.1s;
}
.card-deck-grid>.card:nth-child(5) .flip-box-inner{
  transition-delay: 1.3s;
}

/* .card-deck-grid>.card:first-child{
  transition-delay: 0.5s;
}
.card-deck-grid>.card:nth-child(2){
  transition-delay: 0.7s;
}
.card-deck-grid>.card:nth-child(3){
  transition-delay: 0.9s;
}
.card-deck-grid>.card:nth-child(4){
  transition-delay: 1.1s;
}
.card-deck-grid>.card:nth-child(5){
  transition-delay: 1.3s;
}

.card-deck-grid>.card.active{
  transform: rotateY(180deg);
}
.card-deck-grid>.card:hover {
 /* -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg); 
} */

.card-deck-grid>.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .card-deck-grid {
    --relation: 0.8;
  }
}

@media only screen and (max-width: 600px) {
  .card-deck-grid {
    --relation: 0.7;
  }
}

@media only screen and (max-width: 400px) {
  .card-deck-grid {
    --relation: 0.6;
  }
}